<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec = "http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Admin panel</title>
</head>
<body>

<div class="row">
    <div class="col-12">
        <div class="p-3 mb-2 bg-dark text-white">
            .bg-dark
            <div style='float: right; color: darkgray '><a th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3 col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" sec:authorize="hasRole('ROLE_ADMIN')">Admin
        </button>
        <button class="nav-link text-start" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User
        </button>
    </div>

    <div class="tab-content col-md-10" id="v-pills-tabContent">

        <div  class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="container-fluid bg-light text-dark min-vh-100">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav- item" role="presentation">
                        <button class="nav-link active" id="UsersTable-tab" data-bs-toggle="tab" data-bs-target="#UsersTable" type="button" role="tab" aria-controls="UsersTable" aria-selected="true">Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="NewUser-tab" data-bs-toggle="tab" data-bs-target="#NewUser" type="button" role="tab" aria-controls="NewUser" aria-selected="false">New User
                        </button>
                    </li>
                </ul>
                <form class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" data-toggle="tab" id="UsersTable" role="tabpanel" aria-labelledby="UsersTable-tab">
                        <div class="container" style="border-right: 1px solid lightgrey; border-left: 1px solid lightgrey;">
                            <div class="row">
                                <h5>All users</h5></div></div>
                        <div class="container" style="border: 1px solid lightgrey;"><br>
                            <table class="table table-striped" style="border-top: 1px solid lightgrey">
                                <thead>
                                <tr>
                                    <th style="border-color: lightgray;" scope="col">Id</th>
                                    <th style="border-color: lightgray;" scope="col">First Name</th>
                                    <th style="border-color: lightgray;" scope="col">Last Name</th>
                                    <th style="border-color: lightgray;" scope="col">Workplace</th>
                                    <th style="border-color: lightgray;" scope="col">Age</th>
                                    <th style="border-color: lightgray;" scope="col">Salary</th>
                                    <th style="border-color: lightgray;" scope="col">Username</th>
                                    <th style="border-color: lightgray;" scope="col">Role</th>
                                    <th style="border-color: lightgray;" scope="col">Edit</th>
                                    <th style="border-color: lightgray;" scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tr th:each="usr : ${users}">
                                    <td th:utext="${usr.getId()}">Id</td>
                                    <td th:utext="${usr.getName()}">First_name</td>
                                    <td th:utext="${usr.getSurname()}">Last_name</td>
                                    <td th:utext="${usr.getWorkplace()}">Workplace</td>
                                    <td th:utext="${usr.getAge()}">Age</td>
                                    <td th:utext="${usr.getSalary()}">Salary</td>
                                    <td th:utext="${usr.getUsername()}">Username</td>
                                    <td>
                                        <p th:each="role : ${usr.roles}">
                                            <span style="display: inline" th:text="${role.role.toString().replaceFirst('ROLE_', '').replaceAll(',', '')}">Roles</span>
                                        </p>
                                    </td>
                                    <td>
                                        <form action="#" th:action="@{/admin/edit}"
                                              th:method="patch">
                                            <div th:attr="id=${'editModal'+usr.getId}" class="modal fade" tabindex="-1"
                                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label for="idE" class="col-form-label">id</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getId()}" id="idE" name="id"
                                                                       readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="nameE" class="col-form-label">First
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getName()}" id="nameE" name="name">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="surnameE" class="col-form-label">Last
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getSurname()}" id="surnameE"
                                                                       name="surname">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="workplaceE" class="col-form-label">Workplace</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getWorkplace()}" id="workplaceE"
                                                                       name="workplace">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="ageE" class="col-form-label">Age</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getAge()}" id="ageE" name="age">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="salaryE"
                                                                       class="col-form-label">Salary</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getSalary()}" id="salaryE"
                                                                       name="salary">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="usernameE"
                                                                       class="col-form-label">Username</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getUsername()}" id="usernameE"
                                                                       name="username">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="passwordE"
                                                                       class="col-form-label">Password</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getPassword()}" id="passwordE"
                                                                       name="password">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label>Role </label>
                                                                <select class="form-control" size="2" multiple
                                                                        aria-label="multiple select example"
                                                                        id="editRoles" name="editRoles" aria-multiselectable="true">
                                                                    <option value="ROLE_ADMIN">ADMIN</option>
                                                                    <option value="ROLE_USER">USER</option>
                                                                </select>
                                                            </div>
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                                th:attr="data-bs-target=${'#editModal'+usr.getId()}">Edit</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                th:attr="data-bs-target=${'#deleteUser'+usr.getId()}">Delete
                                        </button>
                                        <form action="#" th:action="@{/admin/{id}(id=${usr.getId()})}"
                                              th:method="delete">
                                            <div th:attr="id=${'deleteUser'+usr.getId}" class="modal fade" tabindex="-1"
                                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Edit user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label for="idDel" class="col-form-label">id</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getId()}" id="idDel" name="id"
                                                                       readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="nameDel" class="col-form-label">First
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getName()}" id="nameDel" name="name"
                                                                       readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="surnameDel" class="col-form-label">Last
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getSurname()}" id="surnameDel"
                                                                       name="surname" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="workplaceDel" class="col-form-label">Workplace</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getWorkplace()}" id="workplaceDel"
                                                                       name="workplace" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="ageDel" class="col-form-label">Age</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getAge()}" id="ageDel" name="age"
                                                                       readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="salaryDel"
                                                                       class="col-form-label">Salary</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getSalary()}" id="salaryDel"
                                                                       name="salary" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="usernameDel"
                                                                       class="col-form-label">Username</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getUsername()}" id="usernameDel"
                                                                       name="username" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="passwordDel"
                                                                       class="col-form-label">Password</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${usr.getPassword()}" id="passwordDel"
                                                                       name="password" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label>Role </label>
                                                                <select class="form-control" size="2" multiple
                                                                        aria-label="multiple select example"
                                                                        id="deleteRoles" aria-multiselectable="true">
                                                                    <option value="ROLE_ADMIN">ADMIN</option>
                                                                    <option value="ROLE_USER">USER</option>
                                                                </select>
                                                            </div>
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" data-toggle="tab" id="NewUser" role="tabpanel" aria-labelledby="NewUser-tab">
                        <form action="#" th:action="@{/admin/addNew}" th:object="${newUser}" th:method="POST" id="addNewUserForm">
                            <div class="container" style="border-right: 1px solid lightgrey; border-left: 1px solid lightgrey;">
                                <div class="row"><h5>Add new user</h5></div></div>
                            <div class="container" style="border: 1px solid lightgrey;">
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <div style="text-align: center;">
                                            <label for="nameNew" class="form-label mb-3">First Name</label>
                                            <input type="text" class="form-control" id="nameNew" name="name" value="">
                                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                                            <div class="mb-3">
                                                <label for="surnameNew" class="form-label">Last Name</label>
                                                <input type="text" class="form-control" id="surnameNew" name="surname" value="">
                                                <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="workplaceNew" class="form-label">Workplace</label>
                                                <input type="text" class="form-control" id="workplaceNew" name="workplace" value="">
                                            </div>
                                            <div class="mb-3">
                                                <label for="ageNew" class="form-label">Age</label>
                                                <input type="number" class="form-control" id="ageNew" name="age" value="">
                                                <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="salaryNew" class="form-label">Salary</label>
                                                <input type="number" class="form-control" id="salaryNew" name="salary" value="">
                                            </div>
                                            <div class="mb-3">
                                                <label for="usernameNew" class="form-label">Username</label>
                                                <input type="text" class="form-control" id="usernameNew" name="username" value="">
                                                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="passwordNew" class="form-label">Password</label>
                                                <input type="text" class="form-control" id="passwordNew" name="password" value="">
                                                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="createRoles">Role </label>
                                                <select name="createRoles" class="form-control" size="2" multiple aria-label="multiple select example" id="createRoles" aria-multiselectable="true">
                                                    <option value="ROLE_ADMIN">ADMIN</option>
                                                    <option value="ROLE_USER">USER</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" form="addNewUserForm">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div class="container-fluid  bg-light text-dark min-vh-100">
            <h1>User information-page</h1>
            <div class="container" style="border-right: 1px solid lightgrey; border-left: 1px solid lightgrey;">
                <div class="row">
                    <h5>About users</h5></div></div>
            <div class="container" style="border: 1px solid lightgrey;"><br>
                <table class="table table-striped" style="border-top: 1px solid lightgrey">
                    <thead>
                    <tr>
                        <th style="border-color: lightgray;" scope="col">Id</th>
                        <th style="border-color: lightgray;" scope="col">First Name</th>
                        <th style="border-color: lightgray;" scope="col">Last Name</th>
                        <th style="border-color: lightgray;" scope="col">Workplace</th>
                        <th style="border-color: lightgray;" scope="col">Age</th>
                        <th style="border-color: lightgray;" scope="col">Salary</th>
                        <th style="border-color: lightgray;" scope="col">Username</th>
                        <th style="border-color: lightgray;" scope="col">Role</th>
                    </tr>
                    </thead>
                    <tr>
                        <td th:utext="${currentUser.getId()}">Id</td>
                        <td th:utext="${currentUser.getName()}">First_name</td>
                        <td th:utext="${currentUser.getSurname()}">Last_name</td>
                        <td th:utext="${currentUser.getWorkplace()}">Workplace</td>
                        <td th:utext="${currentUser.getAge()}">Age</td>
                        <td th:utext="${currentUser.getSalary()}">Salary</td>
                        <td th:utext="${currentUser.getUsername()}">Username</td>
                        <td>
                            <p th:each="role : ${currentUser.getRoles()}">
                                <span th:text="${role.getRole().toString().replaceFirst('ROLE_', '').replaceAll(',', '')}">Roles</span>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Вариант 2: Bootstrap JS отдельно от Popper
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
-->
</body>
</html>